<%- include('partials/header') %>
    <%- include('partials/heroSection') %>
        <div class="text-center">
            <p class="text-danger">
                <%= error %>
            </p>
            <%- include('partials/homeBtn') %>
        </div>
        </div>
        </div>

        <%- include('partials/footer') %>